<!-- homeview containing project info -->
<br>
<div class="row">
  <div class="col-lg-7 col-md-6 col-sm-10 col-xs-10">
    <p class="lead"><b>An API Of Ice And Fire</b></p>
    <p class="text-justify">
      This is an advanced angularJs single page web application which is about a popular TV Series Game of Thrones and its related book series.
      It is an SPA containing few views which includes
    </p>
    <div id="view-info">
       <b>View 1</b>
       <p class="text-justify">A view to list all books, characters and houses.</p>
       <b>View 2</b>
       <p class="text-justify">A view containing the detail of a particular book/character/house containing all the information about it in details.</p>
    </div>
    <p>
      <b>Click on the other navigation link to explore more.</b>
    </p>
    <p class="lead"><b>Technologies used</b></p>
    <p>
      Html, Css, Javascript, Bootstrap, AngularJS
    </p>
  </div>
</div>
<br><br>